//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top right, #5c0000, #cf0000);
  border-radius: 80px ;
  
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  list-style: none;
  backface-visibility: hidden;
  
  
}
h1{
  font-size: 2.6rem;
}
h2{
  font-size: 2.3rem;
}
p{
  font-size: 1.2rem;
  text-align: justify;
}
//Section1
.content{
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  background-color: #ffffff;

}

.max-width{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  
}