.Footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 26, 26);
  height: 200px;
  
    h2{
      line-height: 20px;
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      color: white;
      font-size: 14px;
      font-weight: 300;
    }
}


@media only screen and (max-width: 1280px) { 
  h2{
    line-height: 20px;
    max-width: 650px;
    font-size: 14px;
  }
}


@media only screen and (max-width: 1030px) {
  h2{
    line-height: 20px;
    max-width: 600px !important;
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 770px) {
  h2{
    line-height: 20px;
    max-width: 500px !important;
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 480px) {
  .Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
    height: 150px;

  h2{
    line-height: 12px;
    max-width: 380px !important;
    font-size: 10px !important;
  }
}
}
@media only screen and (max-width: 375px) {
  .Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
    height: 120px;

  h2{
    line-height: 13px;
    max-width: 260px !important;
    font-size: 10px !important;
  }
}
}
@media only screen and (max-width: 320px) {
  .Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
    height: 150px;

  h2{
    line-height: 12px;
    max-width: 280px !important;
    font-size: 10px !important;
  }
}
}