.produtos{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fcfcfc;

    
    .header_produto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-image: url(./assets/images/bg_produto.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 25vh;
        padding-bottom: 15vh;
        gap: 20px;
    
        i{
          color: #8b8b8b;
            font-size: 50px;
        }
        h2{
            color: white;
            font-size: 60px;
            letter-spacing: 8px;
            
        }
    }
    .flex_prod{
        padding: 5% 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: #ececec;

    
        .color_li{
            position: relative;
            color: #8b8b8b;
            padding: 15px 20px;
            letter-spacing: 0.05em;
            font-size: 32px;
            transition: transform 0.3s, box-shadow 0.3s;
            border-bottom: 2px  solid rgba(255, 255, 255, 0);
        }
        
        .color_li:hover {
            transform: translateY(-3px);
        }

        .active::after{
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            background: #000000;
            position: absolute;
            width: 100%;
        }
    }

    a{
      color: black;
      text-decoration: none;
    }

  }
  
  @media only screen and (max-width: 480px) {
    .header_produto{
        padding-top: 15vh !important;

        h2{
            font-size: 40px !important;
        }
    }
    .flex_prod{

        li{
            font-size: 20px !important;
            margin: 10% 0 !important;
        }
    }
  }

  @media only screen and (max-width: 390px) {
    .flex_prod{

        li{
            font-size: 18px !important;
            margin: 10% 0 !important;
        }
    }
  }