.section3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #ffffff;
    position: relative;
    padding-top: 3%;
   

    
  .all_box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;

    .card {
      filter: brightness(100%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #ffffff;
      overflow: hidden;
      position: relative;
      left: 0;
      transition: 1s;
      box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.4);
      width: 320px;
      padding: 3% 0;
      
    }

    .hidden_img{
      overflow: hidden;
    }

    .card:hover > .hidden_img >  img {
      filter: brightness(1);
      transform: scale(1.1) !important;
      transition: 700ms; 
    }
    .card:not(:hover) > .hidden_img >  img {
      filter: brightness(0.8);
      transform: scale(1) !important;
      transition: 700ms; 
    }

    img{
      filter: brightness(0.8);
      transform: scale(1);
      width: 100%;
    }
    .flex_collum{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 5% 8%;
      gap: 20px;
    }

    .flex_collum i{
      font-size: 25px !important;
      color: rgb(71, 71, 71);
      font-weight: 300;
      text-align: center;
      width: 100%;
      position: relative;
    }

    .flex_collum i::before,
    .flex_collum i::after {
      content: '';
      position: absolute;
      background-color: #dd0000;
      width: 40%;
      height: 1px;
      
    }
    
    .flex_collum i::before {
      top: 50%;
      left: 0px;
    }
    
    .flex_collum i::after {
      top: 50%;
      right: 0px;
    }
    .flex_collum h2{
      font-size: 25px !important;
      color: rgb(53, 53, 53);
      font-weight: 300;
      text-align: center;
      width: 100%;
    }

    p{
      font-size: 14px !important;
      text-align: center;
      color: rgb(105, 105, 105);
      line-height: 1.3em;
   
    }

    }
  }
  

  @media only screen and (max-width: 1280px) { 
    .section3{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10vh 0;
      gap: 25px;
  
      
    .all_box{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 40px;
  
      .card {
        width: 280px;
        }
        .flex_collum h2{
          font-size: 22px !important;
        }
    
        p{
          font-size: 13px !important;
        }
    
      }
    }
  }
  
  
  @media only screen and (max-width: 1030px) {
    .section3{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10vh 0;
      gap: 25px;
    
      
    .all_box{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 5px;
  
      .card {
        width: 250px;
        }

        .flex_collum{
          gap: 10px;
        }

        .flex_collum h2{
          font-size: 26px;
        }
    
        p{
          font-size: 12px !important;
        }
      }
    }
  }
  
  @media only screen and (max-width: 770px) {
    .section3{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 7vh 0;
      gap: 25px;
  
      
    .all_box{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 8px;
  
      .card {
        width: 200px;
        }

        .flex_collum h2{
          font-size: 16px !important;
        }
    
        p{
          font-size: 10px;
        }
    
        i{
          font-size: 20px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 480px) {
    .section3{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 7vh 0;
      gap: 25px;
  
      
    .all_box{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
  
      .card {
        width: 70%;
        }

        .hidden_img{
          position: relative;
          overflow: hidden;
          height: 400px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img{
          position: absolute;
        }
        .flex_collum h2{
          font-size: 25px !important;
        }
    
        p{
          font-size: 14px;
        }
    
        i{
          font-size: 30px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 320px) {
    .section3{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 5vh 0;
      gap: 25px;
  
      
    .all_box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 40px;
  
      .card {
        width: 80%;
        height: 200px;
        }

        .hidden_img{
          position: relative;
          overflow: hidden;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img{
          position: absolute;
        }
        .flex_collum h2{
          font-size: 20px;
          padding-bottom: 1%;
          color: rgb(53, 53, 53);
        }
    
        p{
          font-size: 12px;
        }
    
        i{
          font-size: 16px;
        }
      }
    }
  }