.section1{
  width: 100%;
  height: 120px;
  margin: 0 auto;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 10%;
  background-color: #ffffff !important;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  
  img{
    width: 200px;
  }
  .s1_txt{
    display: flex;
    justify-content: center;
    gap: 50px;

    li { 
      display: table-cell; 
      position: relative; 
      padding: 15px 0;
    }
    
    a {
      color: rgb(53, 53, 53);
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;
      display: inline-block;
      padding: 15px 20px;
      position: relative;
     
    }
    a:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #dd0000;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after { 
      width: 100%; 
      left: 0; 
    }
    
  }
  li a.active::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      background: #dd0000;
      position: absolute;
      width: 100%;
  }
  .s1_flex_btn{
    display: flex;
    font-weight: bold;
    gap: 50px;
    margin: 0 10px;
  }
   button{
    width: 150px;
    color: rgb(53, 53, 53);
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: #f8f8f8;
    transition: box-shadow 0.2s ease-out;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
  
   button:hover{
    background-color: #ad0000;
    color:#f5f5f5 ;
    transition: 500ms;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
   button:not(:hover){
    transition: 300ms;
  }
  i{
    padding: 0 5%;
    color: #ad0000;
    
  }

  button:hover > .email{
    color: #f5f5f5;
    display: inline-block;
    transition: 400ms;
    -webkit-transform: translateY(-2px); 
    transform: translateY(-2px);
}

button:hover > .fone{
  color: #f5f5f5;
  display: inline-block;
  transition: 400ms;
  -webkit-transform: rotate(30deg); 
  transform: rotate(30deg) ;
}

.popover:hover::after {
  content: attr(title);
  background-color: yellow;
  color: black;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 100%;
  white-space: nowrap;
  visibility: hidden;
}

.popover:hover::after {
  visibility: visible;
}

}



@media only screen and (max-width: 1280px) {
  .section1{
    padding: 3vh 5%;
    .s1_txt{
      gap: 10px;
  
    }
    .s1_flex_btn{
      gap: 20px;
      margin: 0 0px;
    }
  }
}

@media only screen and (max-width: 1030px) {
  .section1{
    padding: 3vh 5%;

    img{
      width: 180px;
    }
    .s1_txt{
      gap: 0px;
      
      li { 
        display: table-cell; 
        position: relative; 
        font-size: 13px;
      }
    }
    .s1_flex_btn{
      gap: 10px;
      margin: 0 0px;
    }
    button{
      width: 100px;
      font-size: 12px;
      padding: 15px;
    }
  }
}

@media only screen and (max-width: 770px) {
  .section1{
    padding: 3vh 5%;

    img{
      width: 120px;
    }

    .s1_txt{
      gap: 0px;
      
      li { 
        display: table-cell; 
        position: relative; 
        font-size: 13px;
      }
    }
    .s1_flex_btn{
      gap: 10px;
      margin: 0 0px;
    }
    button{
      width: 90px;
      font-size: 10px;
      padding: 12px;
    }
  }
}


@media only screen and (max-width: 480px) {
  .section1{
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 3vh 3%;
    gap: 20px;


    img{
      padding-top: 30px;
      width: 150px;
    }

    .s1_txt{
      gap: 0px;
      
      li { 
        display: table-cell; 
        position: relative; 
        font-size: 13px;
      }
    }
    .s1_flex_btn{
      gap: 10px;
      
    }
    button{
      width: 120px;
      font-size: 14px;
      padding: 12px;
      margin-bottom: 30px;
      
    }
  }
}

@media only screen and (max-width: 320px) {
  .section1{
    position: relative;
    height: 220px;
    display: flex;
    flex-direction: column;
    padding: 3vh 3%;
    gap: 0px;


    img{
      width: 150px;
    }

    .s1_txt{
      gap: 0px;
      
      a{
        padding: 5px 10px;
      }
      li { 
        font-size: 10px;
      }
    }
    .s1_flex_btn{
      gap: 10px;
      margin: 0 0px;
      padding: 0;
    }
    button{
      width: 90px;
      font-size: 10px;
      padding: 12px;
    }
  }
}