.section4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15vh 0;
  padding-top: 22vh;
  width: 100%;
  background-color: white;
  overflow: hidden;


  .s4_flex{
    display: flex;
    justify-content: center;
    align-items: center;

    .s4_left{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      transform: translateX(-200px) !important;
      opacity: 0;
    }
      h2{
        position: relative;
        color: rgb(53, 53, 53);
        font-size: 55px;
        text-align: left;
        font-weight: 300;
        letter-spacing: 7px;
        width: 70%;
      }
    
       h2::after{
        position: absolute;
        content: '';
        display: flex;
        background-color: #dd0000;
        width: 1px;
        height: 300px;
      }

      h3{
        color: rgb(105, 105, 105);
        padding: 2%;
        text-align: justify;
        font-size: 18px;
        width: 70%;
        font-weight: 300;
        line-height: 1.5em;
      }
    }

    .s4_left.anima-s4_left{
      transition: 800ms;
      transform: translateX(0px) !important;
      opacity: 1 !important;
    }
    .s4_right{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translateX(200px) !important;
      opacity: 0 !important;
      img{
        width: 400px;
      }
    }

    .s4_right.anima-s4_right{
      transition: 800ms;
      transform: translateX(0px) !important;
      opacity: 1 !important;
    }
  }

@media only screen and (max-width: 1280px) {
  .section4{
    h2{
      
      font-size: 45px !important;
     
    }
    h3{
      font-size: 16px !important;
    }

    img{
      width: 320px !important;
    }
  }
}

@media only screen and (max-width: 1030px) {
  .section4{
    padding: 12vh 0 !important;
    h2{
      
      font-size: 35px !important;
     
    }
    h2::after{
      position: absolute;
      content: '';
      display: flex;
      background-color: #dd0000;
      top: 30px !important;
      width: 1px;
      height: 300px;
    }
    h3{
      font-size: 15px !important;
      padding: 20px !important;
    }

    img{
      width: 320px !important;
    }
  }
}

@media only screen and (max-width: 770px) {
  .section4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15vh 0;
    padding-top: 15vh;
    width: 100%;
    background-color: white;
  
  
    .s4_flex{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      .s4_left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
          position: relative;
          color: rgb(53, 53, 53);
          font-size: 45px !important;
          text-align: left;
          font-weight: 300;
          letter-spacing: 7px;
          width: 70%;
        }
      
         h2::after{
          position: absolute;
          content: '';
          display: flex;
          background-color: #dd0000;
          top: 50px !important;
          width: 1px;
          height: 250px;
        }
  
        h3{
          color: rgb(105, 105, 105);
          padding: 4%;
          text-align: justify;
          font-size: 18px;
          width: 70%;
          font-weight: 300;
          line-height: 1.5em;
        }
      }
  
      .s4_right{
        width: 100%;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  
        img{
          width: 300px !important;
        }
      }
    }
  }
}


@media only screen and (max-width: 480px) {
  .section4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7vh 0;
    padding-top: 5vh !important;
    width: 100%;
    background-color: white;
  
  
    .s4_flex{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      .s4_left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
          position: relative;
          color: rgb(53, 53, 53);
          font-size: 40px !important;
          text-align: left;
          font-weight: 300;
          letter-spacing: 7px;
          width: 70%;
          padding-bottom: 3%;
        }
      
         h2::after{
          position: absolute;
          content: '';
          display: flex;
          background-color: #dd0000;
          top: 40px !important;
          width: 1px;
          height: 300px;
        }
  
        h3{
          color: rgb(105, 105, 105);
          padding: 4%;
          text-align: justify;
          font-size: 13px !important;
          width: 70%;
          font-weight: 300;
          line-height: 1.5em;
        }
      }
  
      .s4_right{
        width: 100%;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  
        img{
          width: 300px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .section4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7vh 0;
    padding-top: 2vh;
    width: 100%;
    background-color: white;
  
  
    .s4_flex{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      .s4_left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
          position: relative;
          color: rgb(53, 53, 53);
          font-size: 22px !important;
          text-align: center;
          font-weight: 300;
          letter-spacing: 7px;
          width: 70%;
          padding-bottom: 3%;
        }
      
         h2::after{
          position: absolute;
          content: '';
          display: flex;
          background-color: #dd0000;
          top: 40px !important;
          width: 100%;
          height: 1px;
        }
  
        h3{
          color: rgb(105, 105, 105);
          padding: 30px;
          text-align: justify;
          font-size: 13px !important;
          width: 100%;
          font-weight: 300;
          line-height: 1.5em;
        }
      }
  
      .s4_right{
        width: 100%;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  
        img{
          width: 230px !important;
        }
      }
    }
  }
}